.form {
    padding: 10 13 0;
    background-color: #f0f0f0;
}

.label {
    font-size: 14;
    padding: 0 15;
}

.input {
    color: #313131;
    font-size: 16;
    placeholder-color: #aaa;
}

.btn {
    background: #eb5202;
    color: #fff;
}

.logout-btn {
    margin: 100 10 0;
    border-width: 1;
    border-color: #ccc;
    background: #eee;
    color: #313131;
}

.error {
    color: red;
    font-size: 16;
}

.order {
    border-bottom-width: 1;
    border-color: rgba(49, 49, 49, 0.1);
}

.order__div {
    height: 100%;
    margin-left: 4;
    margin-right: 4;
    border-left-width: 1;
    border-color: rgba(49, 49, 49, 0.1);
}

.order__id {
    width: 35;
}

.order__customer {
    width: 80;
}

.order__city {
    width: 50;
}

.order__note {
    width: 50;
}

.order__status {
    width: 70;
}
