<ScrollView orientation="horizontal">
    <FlexboxLayout class="container">
        <StackLayout class="form">
            <TextField class="input"
                       [(ngModel)]="login"
                       hint="Логин"
                       autocorrect="false"
                       autocapitalizationType="none"
            ></TextField>


            <TextField class="input"
                       [(ngModel)]="password"
                       hint="Пароль"
                       autocorrect="false"
                       autocapitalizationType="none"
                       secure="true"
            ></TextField>

            <ActivityIndicator *ngIf="isLoading"
                               [busy]="isLoading"
                               row="1"
                               horizontalAlignment="center"
                               verticalAlignment="center"
            ></ActivityIndicator>

            <TextView class="error" *ngIf="error" [text]="error" editable="false"></TextView>

            <Button class="btn" [text]="'Войти'" (tap)="signIn()"></Button>
        </StackLayout>

    </FlexboxLayout>

</ScrollView>
